.container{
    display: grid;
    height:40vh;
    grid-template-columns:auto auto auto;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: left center right;
    text-align: center;
    padding: 10px;
}
h1{
    text-align: center;
}
#leftsidebar{
  border: 1px solid;
  display: flex;  
}
main{
    border: 1px solid;
}
#rightsidebar{
    border: 1px solid;
}
#bottombar{
    border: 1px solid;
}
#Politics{
    background-color:burlywood;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0px;
}
#Technology{
    background-color:aquamarine ;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0px;
}
#Locals{
background-color:aqua ;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
margin: 0px;
}
#Opinion{
background-color: blue;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
margin: 0px;
}
#Sports{
background-color:rebeccapurple ;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
margin: 0px;
}
@media(max-width:576px) {
    
}